.container {
    color: white;
    height: 100vh;
}
.login-form {
    background-color: rgb(12,12,55);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(32,34,60);
    align-items: center;
    justify-content: center;
}
.login-header {
    text-align: center;
    columns: rgb(105,244,181);
    margin-bottom: 20px;
}
.form-control {
    background-color: transparent;
    border: none;
    color: white;
}
.form-control:focus {
    color: white;
    background-color: transparent;
    outline: none;
    border-color: transparent;
}
.divider {
    height: 1px;
    background-color: rgb(243,165,42);
    margin: 20px;
}
.divider-nospace {
    border-top: 1px solid white;
}
.password-field {
    position: relative;
}
.password-toogle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(105,244,181);
    cursor: pointer;
}
.checkbox-text {
    color: rgb(243,165,42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: rgb(233,66,178);
}
.form-check-input {
    margin-right: 5px;
}
.register-link {
    color: rgb(105,244,181);
    text-decoration: none;
}
.access-right {
    margin-top: 20px;
    width: 200px;
    color: white;
    border: 1px solid rgb(225,64,180);
}
.access-right:focus {
    border: 1px solid rgb(225,64,180);
}
/* Chrome, Firefox, Safari */
.form-control::placeholder {
    color: rgba(243,165,42,0.4);
    opacity: 1;
}
/* IE v10-11 */
.form-control:-ms-input-placeholder {
    color: rgba(243,165,42,0.4);
}
/* Microsoft Edge */
.form-control::-ms-input-placeholder {
    color: rgba(243,165,42,0.4);
}
.login-button {
    background: linear-gradient(to right, rgb(225,64,180), rgb(126,43,237));
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}
