<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Đăng nhập</h2>
                <div class="form-group">
                    <label for="email">Email/Phone</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divider-nospace"></div>
                </div>

                <div class="mt-5"></div>

                <div class="form-group password-field">
                    <label for="password">Mật khẩu</label>
                    <input type="password" placeholder="Ít nhất 3 kí tự" class="form-control" id="password">
                    <i class="password-toogle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                </div>

                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label text-start" for="remember">Ghi nhớ đăng nhập</label>
                        </span>
                        <a href="#" class="register-link">Quên mật khẩu ?</a>
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-control access-right">
                        <option selected disabled>Quyền đăng nhập</option>
                        <option>Người dùng</option>
                        <option>Quản trị viên</option>
                    </select>
                </div>
                <button type="button" class="login-button">Đăng nhập</button>
                <div class="divider"></div>
                <p class="text-center">Bạn chưa có tài khoản ?
                    <span>
                        <a href="#" class="register-link">Tạo tài khoản</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>