<style>
    .intro-section {
        text-align: center;
        color: white;
        padding: 20px;
    }

    .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .product-category {
        width: 200px;
    }

    .search-input {
        width: 300px;
        background-color: rgb(19, 23, 42);
        margin-right: 10px;
        border-color: rgba(255, 255, 255, 0.5);
        color: white;
    }

    .form-control {
        background-color: transparent;
        color: white;
    }

    .form-control::placeholder {
        /* Chrome, Firefox, Safari */
        color: rgba(255, 255, 255, 0.5);
        opacity: 1;
        /* Firefox */
    }

    .form-control:-ms-input-placeholder {
        /* IE */
        color: rgba(255, 255, 255, 0.5);

    }

    .form-control::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(255, 255, 255, 0.5);
    }

    .product-item {
        background-color: rgb(19, 23, 42);
        border: 1px solid rgb(35, 39, 61);
        border-radius: 20px;
        /*bo góc */
        padding: 20px;
        margin-bottom: 20px;
    }
    .product-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .product-name {
        color: white;
    }
    .product-description {
        color: rgb(173,178,203);
    }
    .product-warranty {
        color: rgb(242, 126, 212);
    }
    .product-price {
        color: white;
    }
    .product-rating {
        color: #FFD700;
        margin-top: 10px;
    }
    .product-actions {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .space-x {
        margin: 0 5px;
    }
</style>

<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm</p>
    </div>
    <!-- Đoạn này có 1 search box bên trái, combo box bên phải -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Thời trang</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <!-- màn hình kích thước large col-lg-4: hiện 3 sản phẩm -->
        <!-- màn hình kích thước large col-md-6: hiện 2 sản phẩm -->
        <!-- col-sm: small -->
        <div class="col-lg-4 col-md-6"> 
            <div class="product-item">
                <img src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Macbook dep vai</p>    
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>5000$</del> 1000$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<app-footer></app-footer>